<p>Hallo Kollege,</p>
{% if instance.state.name == 'invited' %}
ich lade dich zu folgendem Termin ein:
{% endif %}
{% if instance.state.name == 'accepted' %}
du hast zu folgendem Termin zugesagt:
{% endif %}
<ul>
<li>am {{dtosl(instance.event.start_date)}} um {{instance.event.start_time}} Uhr</li>
<li>{{instance.event.calendar}}</li>
</ul>


<p>Bitte best&auml;tige, indem du du in Lino unter
<a href="http://127.0.0.1:8000/api/cal/MyPendingInvitations">Meine offenen erhaltenen Einladungen</a>
auf [Zusagen] klickst!
</p>

<p>Mit freundlichen Gr&uuml;&szlig;en<br/>
{{instance.event.user}}
</p>
