*.elc
*.pyc
*~
*.dpyc
*.log
*.class
*.zip
*.js.py
*.bat
dist
tmp
lino/ui/qx/app/build/resource
*/SciTE.session
default.db
media/cache
lino/tutorials/*/media
lino/projects/*/media
lino/sandbox/*/media
*/test.db
docs/media
docs/dl/*
lino.egg-info
.build/
htmlcov
warnings_linkcheck.txt
.DS_Store
.idea
docs/api/lino.*
docs/tutorials/pisa/pisa.Person-1.pdf
.coverage
.coverage.*
.eggs/
__pycache__

lino/modlib/openui5/static/openui5/openui5-CKEditor/ckeditor-4\.8/

lino/modlib/openui5/static/openui5/openui5-CKEditor/ckeditor-repo/

lino/modlib/openui5/static/openui5/openui5-CKEditor/ckeditor-working/

lino/modlib/openui5/static/openui5/openui5-CKEditor/ckeditor4\.3\.2-min/

*.py#
