global-include *.txt *.py *.bat *.js *.css *.html \
  *.diff *.ico *.jpg *.png \
  *.csv *.xml *.tab \
  *.odt \
  *.wsdl \
  *.xsd \
  *.po *.mo Makefile
include bash/*
prune docs
prune rtlib
prune lino/sandbox
prune screenshots
prune extjs-showcases
