global-include *.txt *.py *.BAT *.bat *.js *.css *.html \
  *.jar *.rtf *.java *.diff *.ico *.jpg *.dtl \
  *.csv *.xml *.tab \
  *.odt \
  *.po *.mo Makefile
include bash/*
prune docs
prune obsolete
prune rtlib
prune screenshots
prune extjs-showcases
prune tmp

