global-include *.txt *.rst *.js *.css *.html \
  *.diff *.ico *.jpg *.png \
  *.xml *.tab \
  *.odt \
  *.wsdl \
  *.xsd \
  *.mo *.jnlp *.ods *.tmpl *.eml *.tab *.gif
include bash/*
prune rtlib
prune lino/sandbox
prune screenshots
prune extjs-showcases
