/*
 Copyright 2012-2018 Rumma & Ko Ltd
 License: GNU Affero General Public License v3 (see file COPYING for details)

 Thanks to Nick La.
 I made just trivial modifications to his
 `CSS3 Dropdown Menu <http://webdesignerwall.com/tutorials/css3-dropdown-menu>`_
 (Feb & Apr 2010).


body {
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	width: 900px;
	margin: 100px auto;
}

*/

body {
	font: normal 1em Arial, Helvetica, sans-serif;
	background: #ebebeb;
	color: #666;
}

a {
	color: #333;
}



#nav {
	margin: 0;
	padding: 2px 6px 0;
	background: #0078ff;
	color: #111;
	line-height: 100%;

	/*
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	*/

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
#nav li {
	margin: 0px 5px;
	padding: 0 0 2px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#nav a {
	font-weight: bold;
	/*color: #e7e5e5;*/
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	/*
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
	*/

}
#nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #666;
	color: #444;
	border-top: solid 1px #f8f8f8;

	/*
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
	*/
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0078ff url(img/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	/*
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
	*/

}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(img/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	/*
	text-shadow: 0 1px 0 #fff;
	*/
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;

	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;

	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}

* html #nav {
	height: 1%;
}

.text-cell {
    text-align: left;
    vertical-align: top;
    /* background: #eeeeee; */
}

.number-cell {
    text-align: right;
    vertical-align: top;
    /* background: #eeeeee; */
}

/* Thanks to https://www.w3schools.com/Css/css_float_clear.asp */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
