{% extends "bootstrap3/base.html" %}
{% set active_page = "{{node.ref}}" %}
{% block title %}{{title}}{% endblock %}

{% block main %}
<div class="container-fluid">
  {% if site.sidebar_width -%}
  <div class="col-md-{{site.sidebar_width}}">
    {% block sidebar_top %}
    <br/><br/><br/>
    {% endblock %}
    {{ node.get_sidebar_html(request) }}
    {% block sidebar_bottom %}
    {% endblock %}
  </div>
  <div class="col-md-{{12-site.sidebar_width}}">
  {% endif -%}
    {% block content %}
    {% if heading%}<h1>{{heading}}</h1>{% endif %}
    {{parse(body)}}
    {% endblock %}
  </div>
</div>
{% endblock %}


