/*

Thanks to:
- <holger.spill@gmail.com> in sphinx-users@googlegroups.com November 2012
- http://ask.metafilter.com/156206/Using-a-character-as-a-custom-list-bullet
- Mark Newhouse at http://www.alistapart.com/articles/taminglists
- http://www.w3.org/TR/CSS2/syndata.html#escaped-characters

*/
ul.dialog, ul.checklist, ul.steplist {
    list-style-type: none;
	padding: 1em;
	list-style-position:outside;
}
ul.dialog, ul.checklist, ul.steplist li {
	text-align:left;
	text-indent:-1em;
}
ul.dialog li:before {
	content: "\25B8 \0020";
}

ul.checklist li:before {
	content: "\2610 \0020";
}
ul.steplist li:before {
	content: "- \0020";
}


table.scrollwide {
	display: block;
	// width: 400px;
	width: 100%;
	background-color: #E0;
	overflow: auto;
}

table.scrollwide td {
	white-space: nowrap;
}

/* centered image captions would be nice. doesn't work.
   e.g. https://lino-framework.org/tutorials/layouts.html
*/
p.caption {
	width: 100%;
	text-align: center;
}

div.sphinxsidebarwrapper p.logo {
    margin: 0px 5px 20px;
}

div.sphinxsidebarwrapper {
    padding: 0px 10px;
}

div.body {
    background-color: #FFF;
    color: #3E4349;
    padding: 30px 30px;
}
