{% extends "lino/base_site.html" %}
{% load i18n %}



{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}


<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">
  {{form.as_p}}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
