/*
 Copyright 2009-2011 Luc Saffre
 This file is part of the Lino project.
 Lino is free software; you can redistribute it and/or modify 
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.
 Lino is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 GNU General Public License for more details.
 You should have received a copy of the GNU General Public License
 along with Lino; if not, see <http://www.gnu.org/licenses/>.
*/

/* 
http://stackoverflow.com/questions/2106104/word-wrap-grid-cells-in-ext-js 
*/
.x-grid3-cell-inner {
  /* white-space: normal; changed from nowrap */
  height:18px; overflow:hidden;
}
.x-grid3-hd-inner {
  white-space: normal; 
}

/*.lino-phantom-row table.x-grid3-row-table {
	color: blue; 
}*/
.lino-phantom-row td {
	/* font-style: italic; */
	color:white;
}

/* 
.x-item-disabled, .x-tree-node-disabled, .x-date-disabled
*/
.x-item-disabled {
  color: blue; 
  /*   opacity: 1;  
  font-weight: bold; */
}

.x-item-disabled * {
  color: blue !important; 
  /*font-weight: bold !important; */
}

.x-btn-noicon {
	color: red; font-style:italic;
}
.x-btn-pressed {
	color: red; font-style:italic;
}

.x-btn-text {
	color: red; font-style:italic;
}

.x-btn-menu-active {
	cursor: 'wait';
	color:'red';
}

/* See blog/2011/0603
*/
.x-form-item-label{
    white-space: nowrap; 
}


/* TinyMCE specific rules */
/* 
body.mceContentBody {
  color: red !important; 
}
*/
body.mceNonEditable {
  color: blue !important; 
}


.htmlText {
	font-family: arial,tahoma;
}
.htmlText h1 {
	font-size:16px;
	padding-top:0px;
	padding-bottom:12px;
	}
.htmlText h2 {
	font-size:13px;
	padding-top:0px;
	padding-bottom:10px;
	}
.htmlText td {
	padding:0px;
	}
.htmlText p {
	margin-top:0px;
	margin-bottom:0px;
	}
.htmlText ol {
	margin-top:3px;
	margin-left:20px;
	margin-bottom:3px;
	list-style-type: decimal; 
	list-style-image: none; 
	list-style-position: outside;
	}
.htmlText ul {
	margin-top:3px;
	margin-left:20px;
	margin-bottom:3px;
	list-style-type: square; 
	list-style-image: none; 
	list-style-position: outside;
	}
.htmlText strong {
	font-weight:bold;
	}
.htmlText em {
	font-style: italic;
	}