{% load i18n %}  
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title id="title">{{ title }}</title>
<!-- ** CSS ** -->
<!-- base library -->
<link rel="stylesheet" type="text/css" href="{{settings.EXTJS_URL}}resources/css/ext-all.css" />

<!-- overrides to base library -->

<!-- ** Javascript ** -->
<!-- ExtJS library: base/adapter -->
<script type="text/javascript" src="{{settings.EXTJS_URL}}adapter/ext/ext-base.js"></script>
<!-- ExtJS library: all widgets -->
<script type="text/javascript" src="{{settings.EXTJS_URL}}ext-all-debug.js"></script>
<!-- overrides to library -->
<link rel="stylesheet" type="text/css" href="/media/lino.css">
<script type="text/javascript" src="/media/lino.js"></script>

<!-- extensions -->

<!-- page specific -->
<script type="text/javascript">
// Path to the blank image should point to a valid location on your server
Ext.BLANK_IMAGE_URL = '{{settings.EXTJS_URL}}resources/images/default/s.gif';
Ext.onReady(function(){
  // alert('woohoo!!! this is Ext.js!');
  
  // var tb = new Ext.Toolbar(
//    { { main_menu.as_ext } }
  //);

  // tb.doLayout();
  
  // tb.render('main_menu');
}); //end onReady
</script>
{% block extrahead %}{% endblock %}
</head>
<body id="{% block bodyid %}page{% endblock %}">
<div id="breadcrumbs">
{% if user.is_authenticated %}
{% trans 'Logged in as' %} <strong>{% firstof user.first_name user.username %}</strong>. 
<a href="/accounts/password_change/">{% trans 'Change password' %}</a> / 
<a href="/accounts/password_reset/">{% trans 'Reset password' %}</a> / 
<a href="/accounts/logout/">{% trans 'Log out' %}</a> /
{% else %}
<a href="/accounts/login?next={{request.path}}">{% trans 'Log in' %}</a> /
{% endif %}
{% block breadcrumbs %}
<a href="/">home</a>
/ <a href="/admin/">admin</a>
/ <a href="/db/">databrowse</a>
{% if lino.help_url %}
/ <a href="{{ lino.help_url }}" target="_HELP">{% trans 'Help' %}</a>
{% endif %}
{% endblock breadcrumbs %}
</div>
<div id="container">
<div id="main_menu">
</div>
</div>
<div id="messages">
{% if messages %}
Messages: 
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
<div id="header">
{% block header %}
<h1>{{ title }}</h1>
{% endblock header %}
</div>
<div id="navigation">
{% block navigation %}{% endblock %}
</div>
<div id="content">
{% block content %}{% endblock %}
</div>
<div id="footer">
<p class="about">
Powered by
{% for x in lino.versions %}
{{x}},
{% endfor %}
<a href="http://jquery.com">jQuery</a>
</p>
</div>
</body>
</html>
