{% extends "lino/report.html" %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/flexigrid.css" />
<script type="text/javascript" src="/media/flexigrid.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	$("#flex1").flexigrid
			(
			{
			/* url: '{{report.json}}',*/
			url: 'json', 
			dataType: 'json',
      colModel : [
        {% for col in report.columns %}
        {display: '{{col.label}}', name : '{{col.name}}', 
          width : {{col.width}}, sortable : true, align: '{{col.align}}'},
        {% endfor %}
				],
      sortname: "id",
			sortorder: "asc",
			usepager: true,
			title: '{{title}}',
			useRp: true,
			rp: 10,
			showTableToggleBtn: true,
			width: 700,
			height: 255
			}
			);   
	
});
</script>
{% endblock %}

{% block content %}

{% if report.has_actions %}
<form action="{{form_action}}" method="POST">
On selected rows: {{ report.row_buttons }}
{% endif %}

<table id="flex1" style="display:none"></table>

{% if report.has_actions %}
On selected rows: {{ report.row_buttons }}
</form>
{% endif %}

{% endblock content %}

  