{% extends "lino/report.html" %}

{% block extrahead %}
<script type="text/javascript">
{{ layout.as_ext_script }}
</script>
{% endblock extrahead %}

{% block content %}

<form action="{{form_action}}" method="POST">

{% if report.has_actions %}
On selected rows: {{ report.row_buttons }}
{% endif %}

{% if report.editing %}
<input type="submit" name="submit" value="Save" />
<input type="reset" name="reset" value="Reset" />
{% endif %}

<div id="data"></div>

</form>

{% endblock content %}
