{% extends "tom/report.html" %}

{% block content %}

<form action="" method="POST">
{{ context.formset.management_form }}
<table class="grid">
<tr>
<td>links</td>
<td>rownum</td>
{% if context.can_delete%}
<th>Delete</th>
{% endif %}
{% for col in context.columns %}
<th>{{ col.getLabel }}</th>
{% endfor %}
</tr>

{% for row in context.rows %}
<tr>
<td>{{ row.links }}</td>
<td>{{ row.number }}{{ row.pk_field }} </td>
{% if context.can_delete %}
<td>{{ row.form.DELETE }}</td>
{% endif %}
{% for cell in row %}
<td>{{ cell }}</td>
{% endfor %}
</tr>
{% endfor %}

</table>
<input type="submit" value="Save" />
</form>

{% endblock content %}
