{% extends "tom/report.html" %}

{% block navigation %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?pgn={{ page.previous_page_number }}&flt={{params.data.flt}}">previous</a>
        {% else %} previous {% endif %}

        {% if page.has_next %}
            <a href="?pgn={{ page.next_page_number }}&flt={{params.data.flt}}">next</a>
        {% else %} next {% endif %}
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

    </span>
</div>

{{ block.super }}

{% endblock navigation %}

{% block content %}

<form action="" method="POST">
{{ formset.management_form }}
<table>
<tr>
<td>links</td>
<td>rownum</td>
{% if report.can_delete%}
<th>Delete</th>
{% endif %}
{% for col in report.columns %}
<th>{{ col.getLabel }}</th>
{% endfor %}
</tr>

{% for row in rows %}
<tr>
<td>{{ row.links }}</td>
<td>{{ row.rownum }}{{ row.form.pk }}</td>
{% if report.can_delete %}
<td>{{ row.form.DELETE }}</td>
{% endif %}
{% for cell in row %}
<td>{{ cell }}</td>
{% endfor %}
</tr>
{% endfor %}

</table>
<input type="submit" value="Save" />
</form>

{% endblock content %}
