{% extends "tom/base_site.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a></div>

<h1>{{ title }}</h1>


<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?pg={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?pg={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<ul class="report_params">
<form action="" method="GET">
{{ params.as_ul }}
<input type="submit" value="Refresh" />
</form>
</ul>


<form action="" method="POST">
{{ formset.management_form }}
<table>
<tr>
{% for col in report.columns %}
<th>{{ col.getLabel }}</th>
{% endfor %}
</tr>
{% for form in formset.forms %}
<tr>
{% for field in form %}
<td>{{ field }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<input type="submit" value="Save" />
</form>

{% endblock %}
