{% extends "tom/base_site.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a></div>

<h1>{{ title }}</h1>


<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?pgn={{ page.previous_page_number }}&pgl={{params.data.pgl}}&flt={{params.data.flt}}">previous</a>
        {% else %} previous {% endif %}

        {% if page.has_next %}
            <a href="?pgn={{ page.next_page_number }}&pgl={{params.data.pgl}}&flt={{params.data.flt}}">next</a>
        {% else %} next {% endif %}
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

    </span>
</div>


<form action="" method="GET">
<ul class="report_params">
{{ params.as_ul }}
<li><input type="submit" value="Refresh" /></li>
</ul>
</form>


<form action="" method="POST">
{{ formset.management_form }}
<table>
<tr>
<td></td>
{% for col in report.columns %}
<th>{{ col.getLabel }}</th>
{% endfor %}
</tr>
{% for form in formset.forms %}
<tr>
<td>{{ form.pk }}</td>
{% for col in report.columns %}
<td>{{ col|getcell:form }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<input type="submit" value="Save" />
</form>

{% endblock %}
