/*
 Copyright 2024 Rumma & Ko Ltd
 License: GNU Affero General Public License v3 (see file COPYING for details)
*/

.bordertext {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
}
