{% extends "lino/report.html" %}

{% block extrahead %}
<script type="text/javascript">
Ext.onReady(function(){
ds = new Ext.data.Store({
  id: '{{report.name}}',
  proxy: new Ext.data.HttpProxy({
      url: '{{report.json_url}}',
      method: 'GET'
    }),
  baseParams:{},
  remoteSort: true,
  reader: new Ext.data.JsonReader(
    {   
      totalProperty: 'count',
      root: 'rows',
      id: 'id'
    },
    [ {% for e in report.ext_fields %} '{{e.name}}', {% endfor %} ]
  )
});

/*ds = new Ext.data.JsonStore({
  url: '{{report.json_url}}',
  method: 'GET',
  baseParams:{},
  totalProperty: 'count',
  root: 'rows',
  id: 'id',
  fields: [ {% for e in report.columns %} '{{e.name}}', {% endfor %} ]
});
*/
cm = new Ext.grid.ColumnModel(
  {{ report.ext_column_model }}
);
cm.defaultSortable= true;

grid = new Ext.grid.EditorGridPanel({
    title: '{{report.title}}',
    renderTo: 'datagrid',
    // height: 350,
    autoHeight: true,
    // columnLines: true,
    // stripeRows:true,
    store: ds,  
    colModel: cm,     
    enableColLock:false,
    clicksToEdit:1,
    selModel: new Ext.grid.RowSelectionModel({singleSelect:false}),
    bbar: new Ext.PagingToolbar({
        store: ds,       // grid and PagingToolbar using same store
        displayInfo: true,
        pageSize: {{report.page_length}},
        prependButtons: true,
    })
  });
  
function save(oGrid_event){
  Ext.Ajax.request({
      waitMsg: 'Please wait...',
      url: '{{form_action}}/update',
      params: {
        {% for e in report.columns %}
          {{e.name}}: oGrid_event.record.data.{{e.name}},
        {% endfor %}
      }, 
      success: function(response){							
         var result=eval(response.responseText);
         switch(result){
         case 1:
            ds.commitChanges(); // get rid of the red triangles
            ds.reload();        // reload our datastore.
            break;					
         default:
            Ext.MessageBox.alert('Uh uh...','We couldn\'t save him...');
            break;
         }
      },
      failure: function(response){
         var result=response.responseText;
         Ext.MessageBox.alert('error','could not connect to the database. retry later');		
      }									    
   });   
  }
  
  
grid.on('afteredit', save);  

ds.load();      // Load the data

}); //end onReady
</script>
{% endblock extrahead %}

{% block content %}

<form action="{{form_action}}" method="POST">

{% if report.has_actions %}
On selected rows: {{ report.row_buttons }}
{% endif %}

{% if report.editing %}
<input type="submit" name="submit" value="Save" />
<input type="reset" name="reset" value="Reset" />
{% endif %}

<div id="datagrid"></div>

</form>

{% endblock content %}
