{% extends "lino/report.html" %}

{% block extrahead %}
<script type="text/javascript">

master_store = {{ report.as_ext_store }};
{% for slave in report.slaves %}
{{slave.name}}_store = {{ slave.as_ext_store }};
{% endfor %}

Ext.onReady(function(){

frm = {{ report.layout.as_ext }};

master_store.addListener('load',function(store,rows,options) {
    frm.form.loadRecord(rows[0]);
    {% for slave in report.slaves %}
    {{slave.name}}_store.load({
      params: { master: rows[0].data['{{report.pk.name}}'] } });
    {% endfor %}
})

var submit = frm.addButton({
    text: 'Submit',
    handler: function(){
        frm.form.submit({
            url:'foo', 
            waitMsg:'Saving Data...',
            success: function (form, action) {
                Ext.MessageBox.alert('Message', 'Saved OK');
            },
            failure:function(form, action) {
                Ext.MessageBox.alert('Message', 'Save failed');
            }
        });
    }
});

master_store.load();

frm.render('datapage');

}); //end onReady
</script>
{% endblock extrahead %}


{% block content %}

{{ report.tabs }}

{{ report.form.errors }}

<div id="datapage"></div>

{% endblock content %}
