<!DOCTYPE html>
<html language="{{requested_language}}"><head>
<meta charset="utf-8"/>
<title>{% block title %}{{site.title or site.verbose_name}}{% endblock %}</title>
<link rel="stylesheet" href="{{site.plugins.bootstrap3.build_lib_url('css','bootstrap.css')}}" type="text/css">
<link rel="stylesheet" href="{{site.build_static_url('bootstrap.css')}}" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.css" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="shortcut icon" type="image/png" href="{{ site.build_static_url('favicon2.ico') }}" />

</head><body>
<div id="wrap" class="publisher-document">
  <div class="container-fluid">
    {% block header %}
    <div class="container-fluid lino-bs-header">
    {#
      {% if site.user_model and not site.default_user and not site.admin_ui -%}
        {% if ar.user.is_authenticated -%}
          <a href="{{ar.renderer.front_end.build_plain_url('auth')}}?an=logout">{{_("Sign out")}}</a>
        {% else -%}
        <form class="form-inline" method="POST"
             action="{{ar.renderer.front_end.build_plain_url('auth')}}">
        <input name="username" type="username" class="input-small" placeholder="Username">
        <input name="password" type"password" class="input-small" placeholder="Password">
        <button type="submit" class="btn">{{_("Sign in")}}</button>
        &mdash;
        {% endif -%}
      {% endif -%}
    #}

      {% if ar -%}
        {% if ar.request and ar.request.path != '/' -%}
            <a href="{{ar.get_home_url()}}">{{_("Home")}}</a>
        {% endif -%}
        {% if site.kernel.editing_front_end.url_prefix -%}
            <a href="/{{site.kernel.editing_front_end.url_prefix}}/">{{_("Admin")}}</a>
        {% endif -%}
        {% if len(site.languages) > 1 -%}
          {% for lang in site.languages -%}
            {% if lang.django_code == requested_language -%}
                {{lang.django_code}}
            {% else -%} {# URL_PARAM_USER_LANGUAGE #}
                <a href="{{ar.get_request_url(ul=lang.django_code)}}">{{lang.django_code}}</a>
            {% endif -%}
          {% endfor -%}
        {% endif -%}
        {%- if site.kernel.admin_ui -%}
            &mdash;
            <a href="{{site.kernel.admin_ui.build_plain_url()}}/">{{site.kernel.admin_ui.ui_label}}</a>
        {%- endif -%}
    {% endif -%}


    {% if site.user_model -%}
      </form>
    {% endif -%}

    </div>
    {% endblock %}

    {% block navbar %}
      {% if menu -%}
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  {{menu}}
              </div>
           </div>
        </nav>
      {% endif -%}
    {% endblock %}
    {% block main %}
    <div class="container-fluid">
        {% block content %}
        This page has no content.
        {% endblock %}
    </div>
    {% endblock %}
  </div>
  <div id="push"></div>
</div>
<div id="footer">
<footer class="container-fluid">
{% block footer %}
<p style="vertical-align: middle;">
{% if site.copyright_name %}
&copy; Copyright {{now.year}}
{% if site.copyright_url %}
<a href="{{site.copyright_url}}">{{site.copyright_name}}</a>
{% else %}
{{site.copyright_name}}
{% endif %}
|
{% endif %}
{{tostring(site.welcome_html())}}
</p>
{% endblock %}
</footer>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="{{site.plugins.bootstrap3.build_lib_url('js','bootstrap.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.js"></script>
<script src="{{site.plugins.bootstrap3.build_lib_url('js','bootstrap_lino.js')}}"></script>
</body></html>
