{% extends "voc/base_site.html" %}
{% load markup %}

{% block title %}{{ unit.title }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a> / <a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a> / <a href="{{ field.url }}">By {{ field.field.verbose_name }}</a> / {{ value }}</div>

<h1>{{ unit.title }}</h1>

<div>{{ unit.instruction }}</div>
<div>{{ unit.question|restructuredtext }}</div>
<div>{{ unit.answer|restructuredtext }}</div>

<pre>{{ unit.vocabulary }}</pre>

<p>Vocabulary:</p>

<ul class="vocabulary">
{% for entry in unit.entry_set.all %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></li>
{% endfor %}
</ul>

{% endblock %}
