/*
 Copyright 2009-2015 Luc Saffre
*/

/*
http://stackoverflow.com/questions/2106104/word-wrap-grid-cells-in-ext-js
e.g. welfare.jobs.NewJobsOverview needs
*/

/*
.x-grid3-cell-inner {
  // white-space: normal; changed from nowrap
  height:18px;
  overflow:hidden;
}
*/

.dashboard-item-closed {
	/*max-height: 0px !important;*/
	overflow:hidden;
	display: none;
}

.dashboard-item {
	/*max-height: 110vh;*/
	transition: height 2s ease-in;
}

.lino-auto-height {
  white-space: normal;
  overflow: visible;
}

.x-grid3-cell-inner {
  white-space: normal;
  overflow:hidden;
}

.x-grid3-hd-inner {
  white-space: normal;
}

.lino-info {
  padding:3pt;
}

.lino-info-red { padding:3pt; background-color:#FA7F7F; }
.lino-info-green { padding:3pt; background-color:#82FA8C; }
.lino-info-blue { padding:3pt; background-color:#8282FA; }
.lino-info-yellow { padding:3pt; background-color:#FAEF5A; }

/*.lino-phantom-row table.x-grid3-row-table {
	color: blue;
}
*/
.lino-phantom-row td {
	/* font-style: italic; */
	color:white;
}

.x-grid3-row-red td { background-color:#FA7F7F; }
.x-grid3-row-green td { background-color:#82FA8C; }
.x-grid3-row-blue td { background-color:#8282FA; }
.x-grid3-row-yellow td { background-color:#FAEF5A; }

/*
.x-item-disabled, .x-tree-node-disabled, .x-date-disabled
*/
.x-item-disabled {
  color: blue;
  /*   opacity: 1;
  font-weight: bold; */
}

.x-item-disabled * {
  color: blue !important;
  /*font-weight: bold !important; */
}

.x-btn-noicon {
	color: red; font-style:italic;
}
.x-btn-pressed {
	color: red; font-style:italic;
}

.x-btn-text {
	color: red; font-style:italic;
}

.x-btn-menu-active {
	cursor: 'wait';
	color:'red';
}

/* See blog/2011/0603
*/
.x-form-item-label{
    white-space: nowrap;
}




/*
.x-form-field { padding: 10px; }
*/

.x-panel-body-noheader { padding-left: 2px; padding-right: 2px; }
.x-panel-body { padding-left: 2px; padding-right: 2px; }



/* TinyMCE specific rules */
/*
body.mceContentBody {
  color: red !important;
}
*/
body.mceNonEditable {
  color: blue !important;
}

/*

To display "normal" HTML inside an ExtJS component,
wrap it into a <div class="htmlText">.

*/

.htmlText {
	/* font-family: arial,tahoma; */
    font: normal 12px arial,tahoma,verdana,helvetica;
}
.htmlText h1 {
	font-size:17px;
	padding-top:10px;
	padding-bottom:12px;
	}
.htmlText h2 {
	font-size:15px;
	padding-top:10px;
	padding-bottom:2px;
	}
.htmlText h3 {
	font-size:14px;
	font-style: italic;
	padding-top:1px;
	padding-bottom:1px;
    }
table.htmlText td,th {
	padding:0px;
	}
.htmlText p {
	padding-top:3px;
	padding-bottom:3px;
	margin-top:0px;
	margin-bottom:0px;
	}
.htmlText ol {
	margin-top:3px;
	margin-left:20px;
	margin-bottom:3px;
	list-style-type: decimal;
	list-style-image: none;
	list-style-position: outside;
	}
.htmlText ul {
	margin-top:3px;
	margin-left:20px;
	margin-bottom:3px;
	list-style-type: square;
	list-style-image: none;
	list-style-position: outside;
	}
.htmlText strong {
	font-weight:bold;
	}
.htmlText em {
	font-style: italic;
	}

/*
Thanks to http://de.selfhtml.org/css/formate/zentrale.htm
*/
table.htmlText tr td {
	vertical-align: middle;
	text-align: center;
}

.text-cell {
    text-align: left;
    vertical-align: top;
    /* background: #eeeeee; */
}

.number-cell {
    text-align: right;
    vertical-align: top;
    /* background: #eeeeee; */
}




/*
The following are
Alexander Dawson's CSS tooltips
from <http://sixrevisions.com/css/css-only-tooltips/>,
adapted for usage in an ExtJS application.

*/

.x-form-item-label .tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}
.x-form-item-label .tooltip span {
	margin-left: -999em;
	position: absolute;
}
.x-form-item-label .tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	overflow: visible;
    white-space: normal;
	margin-left: 0; width: 250px;

}
.x-form-item-label .tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.x-form-item-label .tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.x-form-item-label .classic { padding: 0.8em 1em; }
.x-form-item-label .custom { padding: 0.5em 0.8em 0.8em 2em; }
.x-form-item-label * html a:hover { background: transparent; }
.x-form-item-label .classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.x-form-item-label .critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.x-form-item-label .help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.x-form-item-label .info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.x-form-item-label .warning { background: #FFFFAA; border: 1px solid #FFAD33; }


/*
 20120229 For css tooltips we need to override some CSS rules of ExtJS.
 set all overflows
 to 'visible' for CSS tooltips.
 I don't really understand it, and it doesn't yet work,
 but it doesn't seem to  cause any problem.

.ext-gecko .x-window-body .x-form-item {
	overflow: hidden;
}

*/

.ext-gecko .x-window-body .x-form-item {
	overflow: visible;
}
.x-panel-body .x-panel-body-noheader {
	overflow: visible;
}
.x-panel-bwrap {
	overflow: visible;
}

.x-box-inner {
	overflow: visible;
}
.x-fieldset .x-form-label-top .x-box-item {
	overflow: visible;
}


/*
.x-tip
  .x-tip-tl
    .x-tip-tr
      .x-tip-tc
        .x-tip-header
          .x-tip-header-text
  .x-tip-bwrap
    .x-tip-ml
      .x-tip-mr
        .x-tip-mc
          .x-tip-body
.x-tip-bwrap div {
	background: #FFFFAA;
}
.x-tip-header-text { border: 0; }

.x-tip div {
	background: yellow;
}
.x-tip-bwrap div {
	background: yellow;
}
.x-tip-ml div {
	background: yellow;
}
.x-tip-mr div {
	background: yellow;
}
.x-tip-mc div {
	background: yellow;
}
.x-tip-body div {
	background: yellow;
}
*/

/* border: 1px solid #FFAD33;  */


/*
Thanks to Animal in
http://www.sencha.com/forum/showthread.php?70195-NumberField-and-Right-Alignment
*/
.x-form-num-field {
    text-align: right;
}

.field-margin {
    margin-bottom: 22px;
}


/* Lino calander CSS */
.lino-nav-cal h2 {
    margin-bottom: 2px;
}
.lino-nav-cal h2>span{
    width: 14ch;
    display: inline-block;
}
.lino-nav-cal span.cal-nav-today{

}
.cal-week {
	position: absolute;
	margin-left: -22px;
}
.cal-month-table {
/* 	display: None; */

  	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.5s linear;
	position: absolute;
  	margin-left: -96px;
  	border: solid;
	box-sizing: border-box;
	background: #dfe8f6;
	z-index: 1;
	padding: 12px;
	border-color: blue;
  	display: inline-block;
}
.cal-month-table a {
	font-weight: normal;
}
.cal-month-cell div.header{
	padding-bottom: 3px;
}

/*.cal-month-cell.other-month h3 a{*/
	/*color: #5c5c5c;*/
/*}*/
.cal-month-cell.cal-in-past a {
	color: darkgray;
}
.cal-month-cell.cal-in-past div.header a {
	color: unset;
}
.cal-MonthlyView table[name="cal.MonthlyPlanner.grid"] {
	height: 100%;
}
.cal-MonthlyView table[name="cal.MonthlyPlanner.grid"] tr:nth-child(1) th{
	height: 1ch;
}
.cal-WeeklyView table[name="cal.WeeklyPlanner.grid"] td>a{
	margin-bottom: 3px;
	display: block;
}
.cal-WeeklyView table[name="cal.WeeklyPlanner.grid"] tr td:nth-child(1) {
	white-space: nowrap;
}
/*For extjs grid of cal view, never going to be used? */
.cal-MonthlyView td.x-grid3-cell:not(.x-grid3-cell-first) {
	color: #5c5c5c;
	min-height: 14ch;
	border: lightgray solid 1px;
	padding: 3px;
	box-sizing: border-box;
}

.cal-MonthlyView td.x-grid3-cell-first  {
  vertical-align: middle;
}


.lino-nav-cal span>span:hover .cal-month-table {
	visibility: visible;
	opacity: 1;
}
.other-month{
 	background-color: gainsboro;
}
.current-day{
	background-color: #fbfbfb;
}
/* Have "..." overflow*/
.fixed-table{
    width: 100%;
	height: 100%;
    table-layout: fixed;

    /*not really necessary, removes extra white space */
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
.fixed-table tbody{
	vertical-align: unset;
}
.fixed-table td div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3ch;
	margin-left: 0.3ch;
	margin-bottom: 0.5ch;
}
