$header(1,$app_label)

.. currentmodule:: $app_label

Defined in :srcref:`/${'/'.join($app.__name__.split('.'))+'.py'}`

$app.__doc__

#for $model in $models

.. index::
   pair: model; $model.__name__
#for $field in $model._meta.fields
   single: field;$(field.name)
#end for

.. _$(settings.LINO.source_name).${app_label}.${model.__name__}:

$(header(2,"Model ``"+model.__name__+"``"))

$model.__doc__
  
$model_overview($model)
    
Defined in :srcref:`/$('/'.join(model.__module__.split('.'))+'.py')`

#end for

